.btn {
    display: block;
    width: 100%;
    border: none;
    color: #4D4941;
    background: #B0AC99;
    padding: 12px 11px 12px 47px;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;

    &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 11px;
        width: 24px;
        height: 24px;
        background: #4D4941;
    }

    & + & {
        margin-top: 24px;
    }

    &.active {
        background: #4D4941;
        color: #B0AC97;

        &:before {
            background: #B0AC97;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -7px;
            border-top: 2px solid #4D4941;
            border-bottom: 2px solid #4D4941;
            width: 100%;
            height: calc(100% + 10px);
        }
    }
}

.buttonlist {
    border-left: 14px solid #B0AC97;
    padding-left: 54px;
    position: relative;
    width: 30vw;
    margin: 0 auto 40px;

    &:before {
        content: '';
        position: absolute;
        left: 7px;
        top: 0;
        width: 4px;
        height: 100%;
        background: #B0AC97;
    }
}
