.choosemessage {
    &-partselector {
        width: 93.75vh;
        margin: 0 auto 45px;
        border-top: 2px solid #4D4941;
        border-bottom: 2px solid #4D4941;
        padding: 37px 0;
        text-align: center;
        font-size: 22px;
    }

    &-btn {
        background: none;
        border: none;
        padding: 4px;
        line-height: 1;
        text-decoration: underline;
        cursor: pointer;

        & + & {
            margin-left: 12px;
        }

        &.active {
            background: #4D4941;
            color: #9C5448;
            text-decoration: none;
        }
    }
}

.js .nojs-choosemessage {
    display: none;
}

.optionselector {
    &-container {
        width: 43vh;
        height: 517px;
        margin: 0 auto 40px;
        border-left: 13px solid #A9A48B;
        position: relative;
        padding-left: 52px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 7px;
            top: 0;
            width: 4px;
            height: 100%;
            background: #A9A48B;
        }
    }

    &-modal {
        background: #D6D3B9;
        position: absolute;
        left: 52px;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 3px 3px 0 0 #A9A48B;
        padding: 15px 20px 15px 0;
        box-sizing: border-box;

        &:before, &:after {
            content: '';
            width: 94%;
            height: 2px;
            background: #A9A48B;
            position: absolute;
            left: 15px;
        }

        &:before {
            top: 8px;
        }

        &:after {
            bottom: 8px;
        }

        &-content {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            scrollbar-color: #4D4941 #D6D3B9;
            padding-right: 15px;
            box-sizing: border-box;
        }
    }

    &-option {
        font-size: 24px;
        line-height: 1;
        padding: 20px 0 20px 20px;
        cursor: pointer;
        position: relative;

        &.active {
            background: #4D4941;
            color: #D6D3B9;

            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                height: 5px;
                width: 100%;
                background: #D6D3B9;
            }

            &:before {
                top: 2px;
            }

            &:after {
                bottom: 2px;
            }
        }
    }
}

