@import '~normalize.css/normalize.css';
@import 'button';
@import 'bodyreport';
@import 'choosemessage';

$red: #9C5448;

html {
    height: 100%;
}

body {
    font-family: fot-rodin-pron, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    background: #c2bfa5;
    color: #1B1915;
    min-height: 100%;

    &.wf-active {
        font-weight: 600;
    }

    &.home {
        padding: 35px 0 65px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: #c2bfa5 url(grid.png) repeat 0 0;

        main {
            flex-grow: 1;
            padding: 55px 65px 25px 60px;
            border-top: 2px solid #4D4941;
            border-bottom: 2px solid #4D4941;
            position: relative;
            display: flex;
            flex-direction: column;

            &:before, &:after {
                content: '';
                position: absolute;
                left: 60px;
                height: 35px;
                width: calc(100% - 120px);
                background: url(divider.png) repeat-x -60px 0;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: -35px;
            }

            h1 {
                order: 1;
                flex-grow: 1;
            }

            nav {
                order: 2;
                flex-grow: 1;
                width: 50%;
            }

            .info {
                order: 3;
            }
        }
    }

    &.bodyreport {
        background: #1B1915;
        color: #D6D3B9;
    }

    &.choosemessage {
        padding-top: 42px;
        background: #c2bfa5 url('grid.png') repeat 0 0;
    }
}

a {
    color: $red;
    text-decoration: underline;
}

.divider {
    height: 28px;
    background: url('../public/img/pattern-top.svg') repeat-x 0 0;
    border-top: 2px solid #4D4941;
}

.shadowtitle {
    text-transform: uppercase;
    line-height: 1;
    font-size: 64px;
    color: #434137;
    text-shadow: 8px 8px 0 #8f8d78;
    margin: 0;
}

.info {
    box-sizing: border-box;
    padding: 25px 0 25px 45px;
    position: relative;
    background: #D6D3B9;
    box-shadow: 3px 3px 0 0 #A9A48B;
    border-left: 13px solid #4D4941;
    line-height: 1;
    font-size: 24px;

    &:before {
        content: '';
        position: absolute;
        left: 7px;
        top: 0;
        width: 4px;
        height: 100%;
        background: #4D4941;
    }

    &:after {
        content: '';
        position: absolute;
        right: 12px;
        bottom: 8px;
        width: 16px;
        height: 16px;
        background: #4D4941;
    }

    p {
        margin: 0 0 1em;
    }
}
