.bodyreport {
    // passes WCAG AAA colour contrast
    background: $brown2;
    color: $beige2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-container {
        border: 2px solid $beige2;
        padding: 26px 62px 80px;
        text-align: center;
        width: 65vw;
        margin: 0 auto 120px;
    }

    &-title {
        margin: 0 0 24px;
        line-height: 1;
        font-size: 28px;
    }

    &-username {
        padding: 0 0 21px;
        margin: 0 0 90px;
        line-height: 1;
        font-size: 18px;
        border-bottom: 2px solid $beige2;

        a {
            color: $beige2;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover, &:focus {
                color: $red;
                text-decoration: underline;
            }
        }
    }

    &-message {
        font-size: 22px;
    }

    .btn {
        background: $beige3;
    }

    .btnlist {
        width: 32%;
        margin: 0 auto;
        border-left-color: $beige3;

        &:before {
            background: $beige3;
        }
    }
}
