.btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: $beige4;
    color: $brown1; // should be $brown2 as currently doesn't even pass WCAG AA
    padding: 10px 12px 10px 44px;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;

    @include mq($from: desktop) {
        padding: 12px 11px 12px 47px;
        font-size: 24px;
    }

    i {
        position: absolute;
        top: 12px;
        left: 11px;
        width: 20px;
        height: 20px;
        background: $brown1;

        @include mq($from: desktop) {
            width: 24px;
            height: 24px;
        }
    }

    & + & {
        margin-top: 24px;
    }

    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }

    &:hover, &:focus {
        // WCAG AAA pass on large text (> 19px bold, > 24px normal)
        background: $brown1;
        color: $beige2;

        i {
            background: $beige2;
        }

        &:before, &:after {
            content: '';
            position: absolute;
        }

        &:before {
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 30px;
            background: url(../img/select.png) no-repeat 0 0;

            @include mq($from: desktop) {
                left: -60px;
            }
        }

        &:after {
            left: 0;
            top: -7px;
            border-top: 2px solid $brown1;
            border-bottom: 2px solid $brown1;
            width: 100%;
            height: calc(100% + 10px);
        }
    }
}

.btnlist {
    border-left: 14px solid $beige4;
    padding-left: 34px;
    position: relative;
    margin: 0 0 35px;

    @include mq($from: desktop) {
        padding-left: 54px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 7px;
        top: 0;
        width: 4px;
        height: 100%;
        background: $beige4;
    }
}
