.home {
    h1 {
        order: 1;
        flex-grow: 1;
    }

    nav {
        order: 2;
        flex-grow: 1;

        @include mq($from: tablet) {
            width: 75%;
        }

        @include mq($from: desktop) {
            width: 50%;
        }
    }

    .info {
        order: 3;
    }
}
