.info {
    box-sizing: border-box;
    padding: 15px 35px 15px 35px;
    position: relative;
    background: $beige2;
    box-shadow: 3px 3px 0 0 #A9A48B;
    border-left: 13px solid $brown1;
    line-height: 1.25;
    font-size: 18px;

    @include mq($from: desktop) {
        padding: 25px 45px 25px 45px;
        font-size: 24px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 7px;
        top: 0;
        width: 4px;
        height: 100%;
        background: $brown1;
    }

    &:after {
        content: '';
        position: absolute;
        right: 12px;
        bottom: 8px;
        width: 16px;
        height: 16px;
        background: $brown1;
    }

    p {
        margin: 0 0 1em;
    }
}
