@import '~normalize.css/normalize.css';

$red: #9C5448;
$brown1: #4D4941; // borders, active button background
$brown2: #1B1915; // body report page background
$beige1: #C2BFA5; // page background
$beige2: #D6D3B9; // modal background, brighter than beige1
$beige3: #B0AC97; // button background

@import 'home'; // homepage styles
@import 'bodyreport'; // body report page styles
@import 'info'; // info modal-ish box
@import 'button'; // button and button list styles
@import 'choosemessage';

html {
    height: 100%;
}

body {
    font-family: fot-rodin-pron, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    background: #c2bfa5;
    color: #1B1915;
    min-height: 100%;

    &.wf-active {
        font-weight: 600;
    }

    &.choosemessage {
        padding-top: 42px;
        background: #c2bfa5 url(../img/grid.png) repeat 0 0;
    }
}

a {
    color: $red;
    text-decoration: underline;
}

.divider {
    height: 28px;
    border-top: 2px solid #4D4941;
}

// text shadow title
.shadowtitle {
    text-transform: uppercase;
    line-height: 1;
    font-size: 64px;
    color: #434137;
    text-shadow: 8px 8px 0 #8f8d78;
    margin: 0;
}
