{% extends 'base.html.twig' %}
{% block body %}
    <h1>NieR Automata Reliquary System</h1>
    <p>An online version of the "reliquary" system from NieR Automata; limited to only one unique message per person.</p>

    <ul>
        <li><a href="{{ path('hwi_oauth_service_redirect', { 'service': 'twitter' }) }}">Login with Twitter and choose your message</a></li>
        <li><a href="{{ path('random') }}">See a random message</a></li>
    </ul>
{% endblock %}
