{% extends 'base.html.twig' %}
{% block body %}
    <main role="main">
        <div id="app"></div>
        <noscript>You will need JavaScript to use the advanced features of this app</noscript>
    </main>
{% endblock %}
